<% if notice %>
 <p id="notice"><%= notice %></p>
<% end %>

<div class="span5 well">
  <h4>Order Cart</h4>
  <ul>
    <% @basket.items.each do |item| %>
     <li><%= item.amount %> <%= item.good.unit %> <%= item.good.name %></li>
    <% end %>
    <br/>
    <li><%= link_to 'select more', :back %></li>
  </ul>
  <br/>
  <%= button_to "Empty Basket", @basket, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= button_to "Checkout", new_request_path, method: :get %>
</div>



