<% if notice %>
 <p id="notice"><%= notice %></p>
<% end %>

<div class="span5 well">
  <h4>Order Cart</h4>
  <ul>
    <% @basket.items.each do |item| %>
     <li><%= item.amount %> <%= item.good.unit %> of <%= item.good.name %></li>
     <li><%= number_to_currency(item.total_price) %></li>
    <% end %>
    <h4>Total</h4>
    <li><%= number_to_currency(@basket.price_total) %>
    <br/>
    <li><%= link_to 'Select more', :back %></li>
  </ul>
  <br/>
  <%= button_to "Empty Basket", @basket, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= button_to "Checkout", new_request_path, method: :get %>
</div>



