<%= form_for @inventory do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.submit(@inventory.new_record? ? "New Inventory" : "Edit")%>
  </div>
<% end %>
