<%= form_for @inventory do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="control-group">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="control-group">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>
   <div class="control-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="control-group">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
