<h3 class="text-center">Last Month's Inventory</h3>
<div class="col-md-12">
  <%= column_chart Inventory.group(:name, :amount).count %>
</div>
<hr>
<center>
  <div class="col-md-8">
    <table >
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Price</th>
      </tr>
    <% @inventories.each do |inventory| %>
        <tr>
          <td><%= link_to inventory.name, inventory %> </td>
          <td><%= inventory.amount %> </td>
          <td><%= inventory.unit %> </td>
          <td><%= inventory.price %></td>
        </tr>
      <% end %>
    </table>
  </div>
</center>
<% if logged_in? %>
  <div class="col-md-4">
    <h4><%= link_to "New Item", new_inventory_path %></h4>
  </div>
<% end %>
