<div class="span5 well">
<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Unit</th>
    <th>Price</th>
  </tr>
  <% @inventories.each do |inventory| %>
    <tr>
      <td><%= link_to inventory.name, @inventory %> </td>
      <td><%= inventory.amount %> </td>
      <td><%= inventory.unit %> </td>
      <td><%= inventory.price %></td>
    </tr>
  <% end %>
  </table>
</div>
<div class="span6 well">
  <%= pie_chart Inventory.group(:name).count, height: "800px" %>
</div>
<br/>
<div class="span4 well">
  <h4><%= link_to "New Inventory", new_inventory_path %></h4>
</div>
