<div class="span5 well">
  <%= render 'form' %>
</div>

<div class="span5 well">
 <% @inventories.each do |inventory| %>
 <table>
    <tr>
      <td><%= link_to inventory.name, inventory %> </td>
      <td><%= inventory.amount %> </td>
      <td><%= inventory.unit %> </td>
    </tr>
  </table>
  <% end %>
  <br/>
    <%= form_for @inventory do |f| %>
    <%= f.submit "Send it!!", :name => 'email_button' %>
    <% end %>
</div>
