<div class="span4 well">
 <h4><%= @backout.month %></h4>
 <hr>
  <table>
  <tr>
    <td><%= @backout.item1 %></td>
    <td><%= @backout.amount1 %></td>
  </tr>
  <tr>
    <td><%= @backout.item2 %></td>
    <td><%= @backout.amount2 %></td>
  </tr>
  <tr>
    <td><%= @backout.item3 %></td>
    <td><%= @backout.amount3 %></td>
  <tr>
    <td><%= @backout.item4 %></td>
    <td><%= @backout.amount4 %></td>
  </tr>
  <tr>
    <td><%= @backout.item5 %></td>
    <td><%= @backout.amount5 %></td>
  </tr>
  <tr>
    <td><%= @backout.item6 %></td>
    <td><%= @backout.amount6 %></td>
  </tr>
  <tr>
    <td><%= @backout.item7 %></td>
    <td><%= @backout.amount7 %></td>
  </tr>
  <tr>
    <td><%= @backout.item8 %></td>
    <td><%= @backout.amount8 %></td>
  </tr>
  <tr>
    <td><%= @backout.item9 %></td>
    <td><%= @backout.amount9 %></td>
  </tr>
  <tr>
    <td><%= @backout.item10 %></td>
    <td><%= @backout.amount10 %></td>
  <tr>
</table>
</div>