<div class="span4 well">
 <h4><%= @backout.month %></h4>
 <font-color="blue"><p>Most of these items were thrown away because they were over prepped / spoiled</p></font>
 <% if logged_in? %>
 <em><%= link_to 'Delete', backout_path, method: :delete, data: { confirm: 'Are you sure?' } %></em>
 <em><%= link_to "Edit", edit_backout_path %></em>
 <% end %>
  <table>
  <tr>
    <td><%= @backout.item1 %></td>
    <td><%= @backout.amount1 %></td>
  </tr>
  <tr>
    <td><%= @backout.item2 %></td>
    <td><%= @backout.amount2 %></td>
  </tr>
  <tr>
    <td><%= @backout.item3 %></td>
    <td><%= @backout.amount3 %></td>
  <tr>
    <td><%= @backout.item4 %></td>
    <td><%= @backout.amount4 %></td>
  </tr>
  <tr>
    <td><%= @backout.item5 %></td>
    <td><%= @backout.amount5 %></td>
  </tr>
  <tr>
    <td><%= @backout.item6 %></td>
    <td><%= @backout.amount6 %></td>
  </tr>
  <tr>
    <td><%= @backout.item7 %></td>
    <td><%= @backout.amount7 %></td>
  </tr>
  <tr>
    <td><%= @backout.item8 %></td>
    <td><%= @backout.amount8 %></td>
  </tr>
  <tr>
    <td><%= @backout.item9 %></td>
    <td><%= @backout.amount9 %></td>
  </tr>
  <tr>
    <td><%= @backout.item10 %></td>
    <td><%= @backout.amount10 %></td>
  <tr>
</table>
</div>
<div class="col-md-8">
  <%= bar_chart Backout.group(:item1).count %>
</div>