
<div class="span3 well">
  <h3><li><%= @distributor.name %></li></h3>
  <li><%= @distributor.description %></li>
  <br/>
  <%= link_to "Edit", edit_distributor_path %>
  <%= link_to "Delete", distributor_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="span6 well">
  <% @distributor.goods.each do |good| %>
    <h4><li><%= link_to good.name, good_path(good) %></li></h4>
    <%= button_to "Add to Basket", items_path(good_id: good) %>
    <%= render good.distributors %>
  <% end %>
</div>