<div class="col-md-5">
  <%= form_for @user do |f| %>
    <div class="control-group>">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="control-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>
