<div class="span5 well">
  <%= form_for @request do |f| %>
  <div class="control-group">
     <%= f.label :name %>
     <%= f.text_field :name %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.submit %>
  </div>
  <% end %>
</div>