<div class="span5 well">
  <%= form_for @request do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, size: 40 %>
    <br/>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br/>
    <%= f.label :additional %>
    <%= f.text_area :additional %>
    <br/>
    <%= f.submit %>
  <% end %>
</div>