<div class="span6 well">
  <h4><%= @request.name %></h4>
  <h5><%= @request.email %><h5>
  <br/>
  <font color="red"><%= render @request.items %></font>
  <br/>
  <%= link_to 'Delete', @request_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="span8 well">
  <%= pie_chart Request.group(:created_at).count %>
</div>