<div class="order">
  <ul>
    <% @orders.each do |order| %>
    <ul>
      <li><%= order.name %></li>
      <li><%= order.description %></li>
      <%= form_for @order do |f| %>
        <div class="field">
          <%= f.label :quantity%>
          <%= f.text_field :quantity%>
        </div>
       <center><%= f.submit @order.new_record? ? "Send Order" : "Update", class: 'btn btn-success btn-lg' %></center>
       <% end %>
    </ul>
    <% end %>
  </ul>
</div>