<div class="product">
  <%= form_for @order do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name%>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 6 %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <%= f.text_field :quantity, rows: 6 %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit @order.new_record? ? "Add Product" : "Update Order", class: 'btn btn-success btn-md' %>
    </div>
  <% end %>
</div>