<div class="vendor">
  <h3><%= @vendor.name %></h3>
  <ul>
    <% @vendor.products.each do |product| %>
    <ul>
      <li><%= product.name %> : <%= product.description %></li>
      <%= form_for @product do |f| %>
        <div class="field">
          <%= f.label :quantity%>
          <%= f.text_field :quantity%>
        </div>
        <%= button_tag 'Add to Cart', class: "btn btn-primary" %>
       <% end %>
    </ul>
    <% end %>
  </ul>
</div>