<div class="col-md-5">
  <%= form_for @good do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="control-group>">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br/>
  <div class="control-group">
    <%= f.label "Distributors:" %>
    <%= f.collection_check_boxes :distributor_ids, Distributor.all, :id, :name do |cb| %>
      <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>
  <hr>
  <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>