<div class="span3 well">
  <h3>Products</h3>
  <br/>
  <% @goods.each do |good| %>
    <li><%= link_to good.name, good %></li>
  <% end %>
  <hr>
  <%= link_to "Add Product", new_good_path %>
</div>
<div class="span3 well">
  <%= link_to "See Orders", requests_path %>
</div>
<div class="span3 well">
  <%= link_to "Notes", posts_path %>
</div>
<div class="span3 well">
  <%= link_to "See Users", users_path %>
</div>