<div class="span4 well">
  <form>
    <input type="text" ng-model="newEntry.name" placeholder="Enter here">
  </form>
  {{newEntry.name}}
</div>
<div class="span4 well">
  <%= line_chart Request.group(:name).group(:created_at).count %>
  <h4><%= link_to "Order", distributors_path %></h4>
</div>
<div class="span4 well">
  <%= pie_chart Distributor.group(:name).count %>
  <h4><%= link_to "Order History", requests_path %></h4>
</div>
<div class="span4 well">
  <%= bar_chart Post.group(:title).group(:created_at).count %>
  <h4><%= link_to "Notes", posts_path %></h4>
</div>
<div class="span4 well">
  <%= pie_chart User.group(:username).count %>
  <h4><%= link_to "Users", users_path %></h4>
</div>
<div class="span4 well">
  <%= bar_chart Inventory.group(:name).count %>
  <h4><%= link_to "Inventories", inventories_path %></h4>
</div>
<div class="span4 well">
  <%= pie_chart Good.group(:name).count %>
  <h4><%= link_to "New Product", new_good_path %></h4>
</div>