<div class="col-md-12">
    <h3 class="text-center">
      <ul>
        <li>|| order</li>
        <li>backout //<li>
        <li>inventory //</li>
        <li>|| event </li>
      <ul>
    </h3>
</div>
<hr>
<div class="col-md-4">
  <%= line_chart Request.group(:name, :created_at).count %>
    <p><strong>Order <%= link_to "here", distributors_path %></strong>. See <strong><%= link_to "Past Orders", requests_path %></strong>.</p>
</div>
<div class="col-md-4">
  <%= pie_chart Backout.group(:month).count %>
  <p>No inventory is complete without <strong><%= link_to "Backouts", backouts_path %></strong>. Make sure you count them right.<p>
</div>
<div class="col-md-4">
  <%= column_chart Inventory.group(:name, :amount).count %>
  <p>Nobody likes doing <strong><%= link_to "Inventories", inventories_path %></strong>, but someone has to do it.</p>
</div>
<div class="col-md-4">
  <p><%= link_to "Tips", tips_path %></p>
<% if current_sucker %>
  <div class="col-md-4">
    <%= pie_chart Post.group(:title).count %>
    <p>Updates. News. <strong><%= link_to "Post", posts_path %></strong> them here.</p>
  </div>
  <div class="col-md-4">
    <%= pie_chart Log.group(:event).count %>
    <p>Something happened? <strong><%= link_to "Log", logs_path %></strong> it here.</p>
  </div>
<% end %>
<hr>
<footer class="footer">
  <div class="col-md-12">
    <center><h6>built by &#0153;Seasalt Labs</h6></center>
  </div>
</footer>


