<div class="span5 well">
  <ul>
    <h4><li><%= @good.name %></li></h4>
    <li><%= @good.description %></li>
    <li><%= @good.price %></li>
    <li><%= @good.unit %></li>
    <br/>
    <%= link_to "Edit", edit_good_path %>
    <%= link_to 'Delete', good_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </ul>
</div>
<div class="span8 well">
  <%= column_chart Good.group(:created_at).count %>
</div>