<div class="goods">
  <ul>
    <li> Name : <%= @good.name %></li>
    <li> Info : <%= @good.description %></li>
    <li> Price : <%= @good.price %></li>
    <br/>
    <%= link_to "Edit", edit_good_path %>
    <%= link_to 'Delete', good_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </ul>
  </ul>
</div>