<div class="col-md-6">
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <%= f.submit "Submit", class: 'btn btn-success' %>
  <% end %>
</div>