<%= form_for @appointment do |f| %>
  <div class="control-group">
    <%= f.label :chef %>
    <%= f.text_field :chef %>
  </div>
  <div class="control-group">
    <%= f.label :background %>
    <%= f.text_area :background %>
  </div>
  <div>
   <%= f.file_field :image %>
  </div>
  <div>
   <%= f.label :remote_image_url, "or image URL" %>
   <%= f.text_field :remote_image_url %>
  </div>
<% end %>