<%= form_for @log do |f| %>
  <div class="control-group">
  <%= f.label :event %>
  <%= f.text_field :event, placeholder: "What is it about?" %>
  </div>
  <div class="control-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <hr>
  <%= f.submit "Log it", class: 'btn btn-success' %>
<% end %>
