<div class="span5 well">
  <h4><li><%= @log.event %></li></h4>
  <li><%= @log.description %></li>
  <em><li><%= @log.created_at %></li></em>
  <% if current_sucker %>
    <%= link_to "Edit", edit_log_path %>
    <hr>
    <%= link_to 'Delete', @log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
