<div class="product">
  <%= form_for [@vendor, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label "Vendors" %>
    <%= f.collection_check_boxes :vendor_ids, Vendor.all, :id, :name do |cb| %>
      <%= cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit @product.new_record? ? "Add Product" : "Update Product", class: 'btn btn-success btn-md' %>
  </div>
  <% end %>
</div>