<!DOCTYPE html>
<html>
  <head>
    <title>paprthin - less clutters</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  </head>
  <body>
    <div id="sticky">
      <div class="nav">
        <div class="container">
          <div class="row">
            <ul class="pull-left">
              <li>
              <%= link_to "//paprthin", root_path %>
              </li>
            </ul>
            <ul class="pull-right">
              <% if current_sucker %>
                <%= link_to "sign out", destroy_sucker_session_path, method: :delete %>
              <% else %>
                <%= link_to "sign in", new_sucker_session_path %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
