<!DOCTYPE html>
<html ng-app>
  <head>
    <title>//paprthin - quick look and make decision</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= javascript_include_tag "jquery-1.4.2.min", "rails", "highcharts" %>
      <%= javascript_include_tag "//www.google.com/jsapi" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  </head>
  <body>
    <div id="sticky">
      <div class="nav">
        <ul class="pull-left">
          <strong><li><%= link_to "//paprthin", root_path %></li></strong>
          <% if logged_in? %>
          <li>
            <%= link_to 'Log Out', logout_path %>
          </li>

          <% else %>
          <li><%= link_to 'Log in', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
