<!DOCTYPE html>
<html>
  <head>
    <title>//paprthin - quick look and make decision</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

  </head>
  <body>
    <div id="sticky">
      <div class="nav">
        <%= nav_bar :static => :top, :responsive => true, :brand => "//paprthin", :brand_link => root_path do %>
          <%= menu_group do %>
            <%= menu_divider %>
              <% if logged_in? %>
                <%= menu_item 'Log Out', logout_path %>
              <% else %>
              <%= menu_item 'Log in', login_path %>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
